In [21]:
import pandas as pd

In [22]:
import numpy as np

In [20]:
data1 =pd.read_csv("/content/Sales_add.csv")
data1

,Month,Region,Manager,Sales_before_digital_add(in $),Sales_After_digital_add(in $)
0,Month-1,Region - A,Manager - A,132921,270390
1,Month-2,Region - A,Manager - C,149559,223334
2,Month-3,Region - B,Manager - A,146278,244243
3,Month-4,Region - B,Manager - B,152167,231808
4,Month-5,Region - C,Manager - B,159525,258402
5,Month-6,Region - A,Manager - B,137163,256948
6,Month-7,Region - C,Manager - C,130625,222106
7,Month-8,Region - A,Manager - A,131140,230637
8,Month-9,Region - B,Manager - C,171259,226261
9,Month-10,Region - C,Manager - B,141956,193735
10,Month-11,Region - B,Manager - C,159339,203175
11,Month-12,Region - A,Manager - A,178939,276279
12,Month-13,Region - B,Manager - A,145062,205180
13,Month-14,Region - A,Manager - A,151514,253131
14,Month-15,Region - C,Manager - A,147463,229336
15,Month-16,Region - A,Manager - B,177195,187305
16,Month-17,Region - A,Manager - C,140862,234908
17,Month-18,Region - C,Manager - B,167996,191517
18,Month-19,Region - B,Manager - A,132135,227040
19,Month-20,Region - A,Manager - B,152493,212579
20,Month-21,Region - B,Manager - A,147425,263388
21,Month-22,Region - A,Manager - C,130263,243020

In [ ]:
## T TEST

In [27]:
dataa  =data1['Sales_before_digital_add(in $)']

In [28]:
datab =  data1['Sales_After_digital_add(in $)']

In [24]:
from scipy.stats import ttest_ind

In [29]:
ttest_ind(dataa,datab)

Ttest_indResult(statistic=-12.995084451110875, pvalue=2.614368006904645e-16)

In [30]:
t_stat1,p_value2 = ttest_ind(dataa,datab)

In [31]:
p_value2

2.614368006904645e-16

In [32]:
if p_value2<0.05:
  print("Reject Null Hypothesis")
else:
  print("Accept Null Hypothesis")

Reject Null Hypothesis

# chiSquare test of independence

In [6]:
from scipy.stats import chi2_contingency

In [7]:
contingency_table =pd.crosstab(data1['Region'],data1['Manager'])
chi2,p_value3,dog,expected=chi2_contingency(contingency_table)

In [10]:
chi2_contingency(contingency_table)

Chi2ContingencyResult(statistic=3.050566893424036, pvalue=0.5493991051158094, dof=4, expected_freq=array([[4.09090909, 3.18181818, 2.72727273],
       [2.86363636, 2.22727273, 1.90909091],
       [2.04545455, 1.59090909, 1.36363636]]))

In [8]:
chi2_stat,p_value3,dof,exp =chi2_contingency(contingency_table)
p_value3

0.5493991051158094

In [9]:
if p_value3<0.05:
  print("Reject Null Hypothesis")
else:
  print("Accept Null Hypothesis")

Accept Null Hypothesis